body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
}

.full-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  padding: 20px;
}

.toggle-button {
  width: 180px;
  height: 140px;
  padding: 0;
  border: none;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 43, 92, 0.3);
  outline: none;
  margin-bottom: 10px;
}

.toggle-button img {
  width: 80%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.toggle-button:hover {
  transform: scale(1.05);
}

.toggle-button:focus {
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.chat-container {
  width: 100%;
  max-width: 600px;
  height: 70vh;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  background-color: #002b5c;
  color: white;
  padding: 20px;
  font-size: 1.4rem;
  text-align: center;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  white-space: pre-wrap; 
}

.message {
  max-width: 75%;
  padding: 12px 15px;
  border-radius: 16px;
  line-height: 1.4;
  font-size: 0.95rem;
}

.message.user {
  align-self: flex-end;
  background-color: #002b5c;
  color: white;
  border-bottom-right-radius: 4px;
}

.message.bot {
  align-self: flex-start;
  background-color: #eee;
  color: #333;
  border-bottom-left-radius: 4px;
  margin-bottom: 10px;
  max-width: 85%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  gap: 5px;
  background: #fafafa;
}

.chat-input input:focus{
  outline: none;
  box-shadow: none;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.chat-input button {
  background-color: #002b5c;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.chat-input button:hover {
  background-color: #005aa7;
}

.gif-navio {
  width: 60px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.upload-label {
  cursor: pointer;
  display: flex;
  font-size: 19px;
  color: #0073e6; /* Azul WS */
  padding: 0;
}

.upload-label input {
  display: none;
}